text {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
  text-anchor: middle;
  fill: white;
}

#background {
  width: 100%;
  height: 100%;
  fill: black;
}

#time {
  x: 50%;
  y: 25%;
  font-size: 45;
}

#title {
  x: 50%;
  y: $+20;
  font-family: System-Bold;
}

#details {
  font-size: 28;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 128;
  text-anchor: middle;
  fill: white;
  x: 0;
  y: $-15;
}